<!DOCTYPE html>
<html>
<head>
  <title><%= @customer_app.site_title %></title>
  <%= stylesheet_link_tag "application-#{@customer_app.app.slug}", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
